[submodule "Submodule/SDKit"]
	path = Submodule/SDKit
	url = git://github.com/stevederico/SDKit.git
[submodule "Submodule/SSDataKit"]
	path = Submodule/SSDataKit
	url = git://github.com/samsoffes/ssdatakit.git
[submodule "ELCImagePickerController"]
	path = ELCImagePickerController
	url = git@github.com:stevederico/ELCImagePickerController.git
[submodule "Submodule/ELCImagePickerController"]
	path = Submodule/ELCImagePickerController
	url = git@github.com:stevederico/ELCImagePickerController.git
[submodule "sstoolkit"]
	path = sstoolkit
	url = git@github.com:samsoffes/sstoolkit.git
[submodule "Submodule/sstoolkit"]
	path = Submodule/sstoolkit
	url = git@github.com:samsoffes/sstoolkit.git
